@import "../../assets/styles/variables.scss";

.Internal-leyes-y-decretos-container {
  .container-internal-content-componente-like {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .like-container-title {
      color: $gray-text;
    }
  }
  &-header-inversiones {
    .header-inversiones-container {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  @media (min-width: "1318px") {
    &-big {
      max-width: 1300px;
      margin: auto;
      margin-top: 32px;
    }
  }
  &-LongText {
    #LongText-container-parrafo-value-1 {
      margin-top: 32px;
    }
    padding: 48px 95px;
    & > #container-header-container-parrafo-content-conatiner-parrafo1 {
      & > .LongText-container > div {
        & > .LongText-container {
          & > .LongText-container-parrafo > div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            & > h2 {
              width: 100%;
            }
            & > a > #bite-graph-container {
              margin: 0px 14px 32px 0px;
            }
          }
        }
      }
    }
  }
  &-video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0px 60px 48px 50px;
    .container-video {
      &-item {
        padding-top: 207px;
        width: 368px;
        & > iframe {
          width: 368px;
          height: 207px;
        }
      }
    }
    &-info {
      width: 322px;
      margin-left: 17px;
      &-title {
        font-family: $primary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 25px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        color: $dark-text;
        margin-bottom: 8px;
      }
      &-descripcion {
        font-family: $secondary-font;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        color: $gray-text;
      }
    }
  }
  &-iframe {
    & > .content-widget-container {
      margin-top: 0px !important;

      @media (min-width: "1318px") {
        width: 1330px;
        margin: auto;
      }

      & > iframe {
        margin: 0px;
      }
    }
    &-text {
      font-family: $primary-font;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 34px;
      color: $dark-text;
      padding: 48px 113px 26px 113px;
      @media (min-width: "1500px") {
        text-align: center;
      }
    }
  }
  .container-header-container-parrafo-content-conatiner-parrafo2 {
    margin-bottom: 48px;
  }
}

@media (max-width: $desktop-small-width) {
  .Internal-leyes-y-decretos-container {
    .container-parrafo__title {
      font-size: 30px !important;
      line-height: 34px !important;
    }
    #LongText-container-parrafo-value-1 {
      margin-top: 16px;
    }
    .container-internal-content-componente-like {
      margin-bottom: 32px;
    }
  }
  #LongText-container-0 {
    padding-bottom: 0px;
  }
  .ContentProxy-container-long-text {
    .LongText-container-parrafo-imagen {
      margin-bottom: 0px;
    }
  }
  .Internal-leyes-y-decretos-container-LongText {
    padding: 0px;
    .LongText-container-parrafo-imagen {
      margin: 0px;
    }
    .LongText-container {
      .LongText-container {
        padding-left: 16px;
        padding-right: 16px;
        .LongText-container-parrafo {
          margin: 0px;
          & > div {
            margin-top: 16px;
          }
          .bite-graph-container {
            margin: 0px 26px 32px 26px !important;
          }
          .container-parrafo__title {
            margin-bottom: 16px;
            padding-right: 16px;
            padding-left: 16px;
          }
        }
      }
    }
  }
  .Internal-leyes-y-decretos-container-video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0px;
    .container-video {
      margin: 0px;
      margin-top: 16px;
      width: 100%;
    }
    .container-video-item {
      width: 100%;
      iframe {
        width: 100%;
      }
    }
    .Internal-leyes-y-decretos-container-video-info {
      padding: 16px;
      width: auto;
      margin-left: 14px;
    }
  }
  .Internal-leyes-y-decretos-container-iframe {
    margin-top: 16px;
    margin-bottom: 16px;
    .content-widget-container {
      margin: 0px;
      iframe {
        height: 523px !important;
      }
    }
    &-text {
      padding: 48px 16px 26px 16px;
    }
  }
}

@media (max-width: 768px) {
  .Internal-leyes-y-decretos-container-LongText {
    ul.container-parrafo__content {
      padding-left: 32px;
      .container-parrafo__content {
        padding: 0px;
      }
    }
    .LongText-container {
      .LongText-container {
        .LongText-container-parrafo {
          & > div {
            margin-top: 32px;
          }
          .bite-graph-container {
            margin: 0px 16px 16px 16px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .Internal-leyes-y-decretos-container-LongText {
    .container-parrafo__content {
      padding: 0px 16px;
    }
    .LongText-container {
      .LongText-container {
        padding-left: 0px;
      }
    }
  }
}

@media (max-width: 320px) {
  .Internal-leyes-y-decretos-container-LongText {
    .LongText-container {
      .LongText-container {
        padding: 0px;
      }
    }
  }
}
