@import "../../../assets/styles/variables.scss";

.more-content {
  margin: 0 7rem;
  @media (min-width: "1500px") {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    width: 100%;
    margin: auto;
  }
  &__title {
    margin: 1.25rem 1.05rem;
  }
}

.filter-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  &__title {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0 0.3rem;
  }
  &__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &-button {
      margin: 0 0.5rem;
      &-a {
        text-decoration: none;
      }
    }
  }
}

.relationated-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
  &__item {
    margin: 0 0.5rem;
  }
}

@media (max-width: $desktop-small-width) {
  .more-content {
    margin: 0 16px;
    &__title {
      margin: 0;
      margin-bottom: 24px;
    }
  }

  .filter-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    &__title {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      width: 100%;
      margin: 0px;
      margin-bottom: 16px;
    }
    &__options {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      width: 100%;
      margin-bottom: 24px;
      & > .filter-content__options-button-a {
        & > .filter-content__options-button {
          & > .button-container {
            & > .button-container__button--secondary-border {
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .filter-content {
    &__options {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      &-button {
        width: 112px;
        height: 48px;
        margin: 0;
        margin-right: 24px;
        margin-bottom: 8px;
        &-a {
          text-decoration: none;
        }
      }
    }
  }
}
