@import "../../../assets/styles/variables.scss";
.quick-access-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 26px;
  &-image {
    &-active {
      margin-right: 4px;
      background-image: url("../../../assets/images/back-acess.svg");
      background-repeat: no-repeat;
      height: 32px;
      width: 32px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    &-inactive {
      margin-right: 4px;
      height: 32px;
      width: 32px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
  &-text {
    &-active {
      font-family: $secondary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 22px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    &-inactive {
      font-family: $secondary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 22px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
}