@import "../assets/styles/variables.scss";
.container-canales {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.container-app-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 17px 129px 32px 129px;
}

#container-canales {
  #layout-main {
    margin: 0;
    max-width: 100%;
    @media (min-width: "1500px") {
      &> main{
        &> div{
          &> .conatiner-best-menu{
            max-width: 100%;
            margin: 0px;
            &>  .MuiTabs-root{
              max-width: 1280px;
              margin: auto;
            }
          }
        }
        
    }
    }
    
  }
}
.container-content-canales {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
@media (min-width: "1500px") {
  .container-content-canales {
    max-width: 1280px;
    margin: auto;
  }
  
  
  .MuiTypography-root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .container-header-oficina {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .container-header-oficina-text {
    padding-right: 70px !important;
  }
}

@media (max-width: $desktop-small-width) {
  .container-canales-bread-crumb {
    display: none;
  }

  .container-app-store {
    margin: 17px 16px 26px 16px;
    &-btns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      & > a {
        margin-bottom: 12px;
      }
    }
  }
}
