@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.css');
@import '../../../assets/styles/variables.scss';

.relevance-medium-desktop {
  margin-left: 0px;
  & > .slick-slider {
    & > .slick-list {
      & > .slick-track {
        min-width: 3000px !important;
        > .slick-slide {
          width: 290px !important;
        }
      }
    }
  }
}

.container-relevance-medium,
.relevance-medium-description {
  margin: 0 0 24px 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  @media (max-width: 992px) {
    margin: 0 0 24px 28px;
  }
}

.relevance-medium-blue {
  font-family: $primary-font;
}

.relevance-medium-description {
  margin: 0 0 0 107px;
}

.relevance-medium-description {
  color: $dark-gray;
}

.medium-relevance-container {
  margin-left: 30px;
}

.container-bite-Responsive {
  height: 400px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: auto;
}

.relevance-medium-desktop {
  margin-left: 0px;
}

.relevance-medium-desktop-prev {
  max-width: 75.2%;
  margin-left: 108px;
  position: relative;
  @media (min-width: '1024px') {
    max-width: 77.2%;
  }
  @media (min-width: '1124px') {
    max-width: 79.2%;
  }
  @media (min-width: '1340px') {
    max-width: 86.2%;
  }
}

.relevance-medium-desktop-prev-featured {
  height: 452px;
  width: 95px;
  position: absolute;
  left: -6%;
  z-index: 6;
  @media (min-width: 1341px) {
    display: none;
  }
}

.relevance-medium-desktop-prev-featured-realce {
  -webkit-animation-name: realce-featured-prev; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: realce-featured-prev;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.relevance-medium-desktop-prev-featured-realce-back {
  -webkit-animation-name: realce-featured-prev-back; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: realce-featured-prev-back;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes realce-featured-prev {
  from {
    width: 80px;
  }
  to {
    width: 90px;
  }
}

@keyframes realce-featured-prev {
  from {
    width: 80px;
  }
  to {
    width: 90px;
  }
}

.relevance-medium-desktop-bolsillo-rotate {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  width: 100%;
}

.relevance-medium-desktop-next-featured {
  height: 452px;
  width: 100%;
  left: 100%;
  position: absolute;
  z-index: 6;

  @media (min-width: 1341px) {
    display: none;
  }
}

.relevance-medium-desktop-div-featured-realce {
  -webkit-animation-name: realce-featured-next;
  -webkit-animation-fill-mode: forwards;
  animation-name: realce-featured-next;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.relevance-medium-desktop-div-featured-realce-back {
  -webkit-animation-name: realce-featured-next-back;
  -webkit-animation-fill-mode: forwards;
  animation-name: realce-featured-next-back;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes realce-featured-next {
  from {
    margin-left: 28px;
  }
  to {
    margin-left: 18px;
  }
}

@keyframes realce-featured-next {
  from {
    margin-left: 28px;
  }
  to {
    margin-left: 18px;
  }
}

@-webkit-keyframes realce-featured-next-back {
  from {
    margin-left: 18px;
  }
  to {
    margin-left: 28px;
  }
}

@keyframes realce-featured-next-back {
  from {
    margin-left: 18px;
  }
  to {
    margin-left: 28px;
  }
}

.relevance-medium-desktop-content {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.relevance-medium-desktop-content:focus {
  outline: none;
}

.relevance-medium-next-featured-arrow {
  display: block;
  width: 48px;
  height: 48px;
  z-index: 7;
}

.relevance-medium-btn-featured-realce {
  -webkit-animation-name: realce-featured-btn;
  -webkit-animation-fill-mode: forwards;
  animation-name: realce-featured-btn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.relevance-medium-btn-featured-realce-back {
  -webkit-animation-name: realce-featured-btn-back;
  -webkit-animation-fill-mode: forwards;
  animation-name: realce-featured-btn-back;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes realce-featured-btn {
  from {
    margin-right: -90px;
  }
  to {
    margin-right: -80px;
  }
}

@keyframes realce-featured-btn {
  from {
    margin-right: -90px;
  }
  to {
    margin-right: -80px;
  }
}

@-webkit-keyframes realce-featured-btn-back {
  from {
    margin-right: -80px;
  }
  to {
    margin-right: -90px;
  }
}

@keyframes realce-featured-btn-back {
  from {
    margin-right: -80px;
  }
  to {
    margin-right: -90px;
  }
}

.relevance-medium-prev-featured-arrow {
  display: block;
  width: 48px;
  height: 48px;
  z-index: 7;
  position: absolute;
}

.relevance-medium-btn-featured-prev-realce {
  -webkit-animation-name: realce-featured-prev-btn; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: realce-featured-prev-btn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.relevance-medium-btn-featured-prev-realce-back {
  -webkit-animation-name: realce-featured-prev-btn-back; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: realce-featured-prev-btn-back;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes realce-featured-prev-btn {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 10px;
  }
}

@keyframes realce-featured-prev-btn {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 10px;
  }
}

@-webkit-keyframes realce-featured-prev-btn-back {
  from {
    margin-left: 10px;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes realce-featured-prev-btn-back {
  from {
    margin-left: 10px;
  }
  to {
    margin-left: 0px;
  }
}
