@import "../../../assets/styles/variables.scss";

.who-are-you-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
  cursor: pointer;

  &__icon {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--active {
      background-image: url(../../../assets/images/who-are-you-option-background.svg);
    }

    &--inactive {
      path {
        fill: $dark-gray;
      }
    }
  }

  &__text {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: $gray-text;

    &--active {
      color: $base-blue;
    }
  }
}
