.container-float-button{  
    width: 64px;
    height: 64px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
  &-icon{
    position: relative;
  }
  &-item{
    width: 48px;
    height: 48px;
    margin-left: 9px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
  }
}



