@import "../../../../../assets/styles/variables.scss";

.footer-content {
  &__accordion-links {
    .collapse-item--active {
      .collapse-item__toggle-icon {
        & path {
          fill: white;
        }
      }
    }
    .collapse-item__toggle-icon {
      & path {
        fill: $base-blue;
      }
    }
    .collapse-item__content {
      .footer-link {
        background-color: $light-background;
      }
    }
    .footer-link {
      min-height: 48px;
      margin-bottom: 0px;
      width: 100%;
      border-bottom: 1px solid $light-border;
      font-family: $secondary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 22px;
      color: $base-blue;
      padding: 12px 16px 12px 24px;
    }
    &__contact-info {
      padding: 16px 0px 32px 24px;
      width: 225px;
    }
  }
}

.footer-mobile--dark-mode {
  .collapse-item__content {
    .footer-link {
      color: white;
      background-color: $dark-text;
      border-bottom: 1px solid $dark-gray;
    }
  }
  .collapse-item {
    border-bottom: 1px solid $dark-gray;
  }
  .collapse-item__title {
    color: white;
  }
  .collapse-item__toggle-icon {
    & path {
      fill: white;
    }
  }
}
