@import "../../../../../assets/styles/variables.scss";
@import "../../../../../assets/styles/global.scss";

.footer-content {
  &__main-links {
    padding: 32px 16px 16px;
    .main-link {
      @extend .unstyled-anchor;
      font-family: $secondary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 19px;
      color: $base-blue;
      display: inline-block;
      width: 100%;
      margin-bottom: 16px;
    }
  }
}

.footer-mobile--dark-mode {
  .main-link {
    color: #5cd9e3;
  }
}
