@import '../../../assets/styles/variables.scss';

.graph-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 110px 72px 110px;

  &-iframe {
    position: relative;
    width: 771px;
    height: 730px;
    overflow: hidden;
    padding-top: 600px;
    background: rgb(255, 255, 255);
    -webkit-box-shadow: rgba(149, 150, 153, 0.14) 0px 4px 5px,
      rgba(149, 150, 153, 0.12) 0px 1px 10px,
      rgba(149, 150, 153, 0.2) 0px 2px 4px;
    box-shadow: rgba(149, 150, 153, 0.14) 0px 4px 5px,
      rgba(149, 150, 153, 0.12) 0px 1px 10px,
      rgba(149, 150, 153, 0.2) 0px 2px 4px;
    border-radius: 0px 0px 10px 10px;
    border: none;

    &-container {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: none;
      overflow: hidden;
      padding-top: 20px;

      .amcharts-range-selector-range-wrapper {
        font-size: 1em;
        display: block;
        margin-bottom: 5px;
      }
      
      .amcharts-range-selector-range-wrapper input {
        font-size: 1em;
      }
      
      .amcharts-range-selector-title {
        font-size: 1em;
      }
      .amcharts-range-selector-period-button {
        height: 22px;
        width: 35px;
        font-weight: bold;
        background-color: #595959;
        border-radius: 3px;
        color: #e3d829;
        border: none;
        margin: 5px;
      }
      
      .amcharts-range-selector-period-button {
        &:hover {
          background-color: #e3e829;
          color: #595959;
        }
        &:focus {
          background-color: #e3e829;
          color: #595959;
        }
      }
      
      .amcharts-amexport-item {
        border: 2px solid rgb(92, 92, 92);
        margin-top: -4px;
        margin-right: 8px;
      }
      
      .amcharts-range-selector-wrapper {
        margin-top: 10px;
      }
      
      @media (max-width: 433px){
       
        .amcharts-range-selector-period-wrapper{
          float: none !important;
          margin-top: 15px;
          display: block;
          text-align: center !important;
        }
        .amcharts-range-selector-range-wrapper{
          float: none !important;
        }
        .amcharts-range-selector-title{
          display: block;
          margin-bottom: 3px;
        }
      }

    }
  }
}

@media (max-width: $desktop-small-width) {
  .graph-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 10;
    padding: 0px 0px 19px 0px;

    &-iframe {
      position: relative;
      width: 100%;
      height: 740px;
      margin-bottom: 48px;
      z-index: 6;
    }
  }
}

@media (max-width: $mobile-width) {
  .graph-container {
    &-iframe {
      height: 850px;
    }
  }
  .amcharts-range-selector-wrapper {
    display: flex;
    text-align: left;
  }
  .amcharts-range-selector-from-input {
    margin-left: 0 !important;
  }
  .amcharts-range-selector-to-input{
    margin: 0 !important;
  }
}

.Portafolio-title {
  font-family: $primary-font;
  font-weight: bold;
  color: $portfolio-gray;
  font-size: 26px;
}
