@import "../../../../../assets/styles/variables.scss";

.footer-socials {
  height: 16px;
  width: 16px;
  margin-right: 12px;
  &__img {
    height: 16px;
    width: 16px;
  }
}

.footer-desktop--dark-mode {
  .footer-socials__img {
    fill: #cbd1de;
    & path {
      fill: #cbd1de;
    }
  }
}
