@import "../../../assets/styles/variables.scss";

.container-audio {
  background: white;
  border-radius: 4px 4px 24px 4px;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 4px 5px rgba(149, 150, 153, 0.14),
    0px 1px 10px rgba(149, 150, 153, 0.12), 0px 2px 4px rgba(149, 150, 153, 0.2);
  box-shadow: 0px 4px 5px rgba(149, 150, 153, 0.14),
    0px 1px 10px rgba(149, 150, 153, 0.12), 0px 2px 4px rgba(149, 150, 153, 0.2);
  &-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  &-img {
    width: 150px;
    height: 150px;
    padding: 24px;
  }
  &-content {
    margin: 24px 24px 24px 12px;
    width: 100%;
    &-title {
      color: $dark-text;
      font-family: $primary-font;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 25px;
    }
    &-description {
      color: $gray-text;
      font-family: $secondary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 22px;
      & > p {
        margin: 4px 0px 8px 0px;
      }
    }
    & > .rhap_container {
      -webkit-box-shadow: none;
      box-shadow: none;
      font-family: $primary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 22px;
      padding: 0px;
      & > .rhap_main {
        & > .rhap_progress-section {
          & > .rhap_progress-container {
            & > .rhap_progress-bar {
              height: 7px;
              & > .rhap_progress-indicator {
                height: 0px;
                width: 0px;
              }
            }
          }
        }
        & > .rhap_controls-section {
          & > .rhap_additional-controls {
            display: none;
          }
          & > .rhap_volume-controls {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            margin-left: 32px;
            & > .rhap_volume-container {
              & > .rhap_volume-button {
                margin-right: 16px;
              }
              & > .rhap_volume-bar-area {
                & > .rhap_volume-bar {
                  & > .rhap_volume-indicator {
                    width: 20px;
                    height: 20px;
                    top: -8px;
                    background: $light-background;
                    border: 2px solid $light-border;
                  }
                }
              }
            }
          }
          & > .rhap_main-controls {
            margin-left: 40px;
            & > .rhap_main-controls-button {
              height: 48px;
              width: 48px;
            }
            & > .rhap_rewind-button {
              margin-right: 23px;
            }
            & > .rhap_forward-button {
              margin-left: 23px;
            }
            & > .rhap_play-pause-button {
              width: 48px;
              height: 48px;
            }
          }
        }
      }
    }
  }
  &-next {
    &-item {
      cursor: pointer;
      display: flex;
    align-items: center;
    justify-content: space-between;
      padding: 16px 0px;
      margin: 0px 32px ;
      border-top: 1px $light-border solid ;
      &-img {
        display: flex;
        align-items: center;
        &-value {
          width: 70px;
          height: 70px;
          padding: 16px;
        }
        &-index {
          font-family: $primary-font;
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 25px;
          color: $gray-text;
        }
      }
      &-header{
        &-title{
        font-family: $primary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 25px;
        display: flex;
        align-items: center;
        color: $base-blue; 
        }
        &-subtitle{
        font-family: $secondary-font;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: $gray-text;
        margin-top: 4px;
        }
      }
    }
  }
}

@media (max-width: $desktop-small-width) {
  .container-audio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    &-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
    }
    &-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 16px;
      margin-right: 16px;
    }
    &-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    &-content {
      margin: 0px 16px 16px 16px;
      & > .rhap_container {
        width: 90%;
        & > .rhap_main {
          & > .rhap_controls-section {
            & > .rhap_volume-controls {
              margin-left: 15px;
              & > .rhap_volume-container {
                & > .rhap_volume-button {
                  margin-right: 12px;
                }
              }
            }
            & > .rhap_main-controls {
              margin-left: 0px;
              & > .rhap_rewind-button {
                margin-right: 7px;
              }
              & > .rhap_forward-button {
                margin-left: 7px;
              }
            }
          }
        }
      }
    }
    &-img {
      width: 100px;
      height: 100px;
      padding: 16px;
    }
  }
}
