/*--Colores--*/
$mask-background: rgba(0, 0, 0, 0.5);
$base-blue: #0033a0;
$base-yellow: #e3e829;
$base-white: #ffffff;
$selector-gray: #595959;
$portfolio-gray: #737373;
$light-background: #fafbfc;
$light-border: #e2e7ed;
$dark-text: #292730;
$border-blue: #719ece;
$gray-text: #626277;
$dark-gray: #464454;
$neutral-500: #9da5be;

$responsive-width: 769px;
$desktop-small-width: 1024px;
$desktop-width: 1020px;
$mobile-width: 426px;
$mobile-small-width: 375px;

$tablet: 768px;

$primary-font: 'Barlow', sans-serif;
$secondary-font: 'Cabin', sans-serif;
