---
export async function getStaticPaths() {
  const response = await fetch(
    "https://graphql.contentful.com/content/v1/spaces/y3qdch79qxiw/environments/master",
    {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        authorization: "Bearer kJnowSU145qeU6n7NqQbuZaoZyEhmcnYQSnfh0WcV7A",
      },
      body: JSON.stringify({
        query: `
        query PreHomeQuery {
      allContentfulContenidoHome {
        edges {
          node {
            tituloContenidosRelevanciaAlta
            tituloContenidosRelevanciaBaja
            tituloContenidosRelevanciaMedia
            tituloInternaCategorias
            tituloPrincipal
            descripcionContenidosRelevanciaBaja
            descripcionInternaCategorias
            contenidosRelevanciaAlta {
              urlSeo
              titulo
              contentful_id
              Tema {
                contentful_id
                tituloCorto
                titulo
                lineaDeProducto {
                  nombre
                  textoIntroductorioBite
                  tituloAgrupadorContenidos
                }
              }
              imagenpequena {
                file {
                  fileName
                  url
                }
                fluid {
                  src
                }
                description
                title
              }
              tituloCorto
              metatittleSeo
              keywordsSeo {
                keywordsSeo
              }
              metadescripcionSeo {
                metadescripcionSeo
              }
              tipoDeCliente {
                nombre
              }
              textoIntroductorio
              textoCallToAction
              textoCallToActionBite
              linkCallToAction
              linkCallToActionBite
              tiempoDeLectura
              descripcioncorta
              urlEspecial
            }
            contenidosRelevanciaAltaEmpresas {

              
              
              tituloCorto
              metatittleSeo
              keywordsSeo {
                keywordsSeo
              }
              metadescripcionSeo {
                metadescripcionSeo
              }
              tipoDeCliente {
                nombre
              }
              textoIntroductorio
              textoCallToAction
              textoCallToActionBite
              linkCallToAction
              linkCallToActionBite
              tiempoDeLectura
              descripcioncorta
              urlEspecial
            }
            contenidosRelevanciaMedia {
              urlSeo
              titulo
              contentful_id
              Tema {
                contentful_id
                tituloCorto
                titulo
                lineaDeProducto {
                  nombre
                  textoIntroductorioBite
                  tituloAgrupadorContenidos
                }
              }
              imagenpequena {
                file {
                  fileName
                  url
                }
                fluid {
                  src
                }
                description
                title
              }
              tituloCorto
              metatittleSeo
              keywordsSeo {
                keywordsSeo
              }
              metadescripcionSeo {
                metadescripcionSeo
              }
              tipoDeCliente {
                nombre
              }
              textoIntroductorio
              textoCallToAction
              textoCallToActionBite
              linkCallToAction
              linkCallToActionBite
              tiempoDeLectura
              descripcioncorta
              urlEspecial
            }
            contenidosRelevanciaMediaEmpresas {
              urlSeo
              titulo
              contentful_id
              Tema {
                contentful_id
                tituloCorto
                titulo
                lineaDeProducto {
                  nombre
                  textoIntroductorioBite
                  tituloAgrupadorContenidos
                }
              }
              imagenpequena {
                file {
                  fileName
                  url
                }
                fluid {
                  src
                }
                description
                title
              }
              tituloCorto
              metatittleSeo
              keywordsSeo {
                keywordsSeo
              }
              metadescripcionSeo {
                metadescripcionSeo
              }
              tipoDeCliente {
                nombre
              }
              textoIntroductorio
              textoCallToAction
              textoCallToActionBite
              linkCallToAction
              linkCallToActionBite
              tiempoDeLectura
              descripcioncorta
              urlEspecial
            }
            enlacesDeInteres {
              titulo
              LinkCallToAction {
                LinkCallToAction
              }
              imagen {
                title
                description
                file {
                  url
                  fileName
                }
              }
              tipoDeCliente {
                nombre
              }
              imagenHover {
                title
                description
                file {
                  url
                  fileName
                }
              }
            }
            enlacesDeInteresEmpresas {
              titulo
              LinkCallToAction {
                LinkCallToAction
              }
              imagen {
                title
                description
                file {
                  url
                  fileName
                }
              }
              tipoDeCliente {
                nombre
              }
              imagenHover {
                title
                description
                file {
                  url
                  fileName
                }
              }
            }
            contenidosDestacados {
              tipoDeCliente {
                nombre
                contentful_id
              }
              titulo
              descripcion {
                descripcion
              }
              textoCallToAction1
              linkCallToAction1
              imagenPrincipal {
                title
                description
                file {
                  url
                  fileName
                }
              }
              imagenFondoPrincipal {
                title
                description
                file {
                  url
                  fileName
                }
              }
            }
            contenidosDestacadosEmpresas {
              tipoDeCliente {
                nombre
                contentful_id
              }
              titulo
              descripcion {
                descripcion
              }
              textoCallToAction1
              linkCallToAction1
              imagenPrincipal {
                title
                description
                file {
                  url
                  fileName
                }
              }
              imagenFondoPrincipal {
                title
                description
                file {
                  url
                  fileName
                }
              }
            }
          }
        }
      }
    }
  `,
      }),
    }
  );

  const contentData = await response?.json();

  return [contentData]?.map(({ slug, title, text }) => {
    return {
      params: { slug },
      props: { title, text },
    };
  });
}

const { contentData } = Astro.props;
console.log(contentData);
---

<html>
  <body>
    <script>
      console.log("hello");
    </script>
    {contentData}
  </body>
</html>
